<?xml version="1.0"?>
<!-- 
  Copyright (c) 2026 PAL Robotics S.L. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find pal_urdf_utils)/urdf/lidar/robosense_airy96_lidar.gazebo.xacro" />

  <xacro:macro name="robosense_airy96_lidar" params="name parent *origin topic_ns:=lidar update_rate:=10 h_samples:=900 v_samples:=96">

    <link name="${name}_link" type="lidar">
      <inertial>
        <origin xyz="-0.02559000000 -0.00056000000 -0.05732000000" rpy="0 0 0"/>
        <mass value="0.28922000000"/>
        <inertia ixx="0.00002628919" ixy="0.00000024298" ixz="-0.00000368129" iyy="0.00003374542" iyz="-0.00000001330" izz="0.00005832599"/>
      </inertial>
      <visual>
        <origin xyz="0 0 -0.063" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://pal_urdf_utils/meshes/lidar/robosense_airy96.stl"/>
        </geometry>
        <material name="DarkGrey"/>
      </visual>
      <collision>
        <origin xyz="0 0 -0.063" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://pal_urdf_utils/meshes/lidar/robosense_airy96.stl"/>
        </geometry>
      </collision>
    </link>

    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>

    <!-- Frame of the Airy's internal IMU.
         The driver publishes sensor_msgs/Imu in the sensor's native axes,
         which are NOT the ROS-convention axes of ${name}_link:
             x_imu = -y_link
             y_imu = -x_link
             z_imu = -z_link -->
    <link name="${name}_imu_link"/>

    <joint name="${name}_imu_joint" type="fixed">
       <!--xyz="0.00425 0.00418 -0.00446" offset of the IMU chip from the LiDAR origin, 
           from the DIFOP IMU_CALIB_DATA translation. Negligible for 2D and irrelevant
           if only the gyro is used; matters for centripetal terms during
           in-place rotation when using the accelerometer. -->
      <origin xyz="0.0 0.0 0.0" rpy="3.1415926535897931 0 -1.5707963267948966"/>
      <parent link="${name}_link"/>
      <child link="${name}_imu_link"/>
    </joint>

    <!-- gazebo extensions -->
    <xacro:robosense_airy96_lidar_gazebo name="${name}" topic_ns="${topic_ns}"
                                        update_rate="${update_rate}"
                                        h_samples="${h_samples}" v_samples="${v_samples}"/>

  </xacro:macro>

</robot>